:root {
    --bg-main: rgb(0, 0, 0);
    --bg-secondary: rgb(0,0,0);
    --bg-contrast: rgb(24, 26, 48);
    --accent: #f700ff;
}

body {
    background-color: var(--bg-main) !important;
    overflow-x: hidden;
    color: white;
}

.bg-dark {
    background-color: var(--bg-secondary) !important;
}

.card {
    background-color: var(--bg-secondary) !important;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6);
    border-top: 2px solid var(--accent);
}

.alert {
    border: none;
}

.alert-primary,
.rounded {
    color: var(--accent); 

}

.btn-outline-primary {
    color: var(--accent) !important;
    border-color: var(--accent) !important;
}

.btn-outline-primary:hover {
    color: white !important;
    background-color: var(--accent) !important;
}

.form-control {
    background-color: var(--bg-secondary) !important;
    border-color: var(--accent) !important;
}

.table td,
.table th {
    vertical-align: middle;
}


.wrapperfag {
    position: relative;
    width: 200px;
    height: 200px;
}

.contentfag {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000;
    position: relative;
    z-index: 100;
}

.backgroundfag {
    color: #999999;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

.box-left-mini {
    float: left;
    background-image: url(website-content/hotcampaign.png);
    width: 292px;
    height: 141px;
}

    .box-left-mini .front {
        display: block;
        z-index: 5;
        position: relative;
    }

        .box-left-mini .front span {
            background: #fff
        }

    .box-left-mini .behind_container {
        background-color: #ff0;
        position: relative;
        top: -18px;
    }

    .box-left-mini .behind {
        display: block;
        z-index: 3;
    }